.custom-line-height {
    line-height: 2em;
}

p{
    margin-bottom:0.5rem !important;
}

.gold {
    color: #d1ac60 !important;
}

.white {
    color: #fff;
}

.footer-padding {
    padding-left: 30%;
}

.modal-body{
    padding: 0;
}
.modal-content{
    border:none;
}

.foot-padds {
    padding-top: 50px;
    padding-bottom: 50px;
}

.txt-subheader {
    font-size: 10px;
    letter-spacing: 0.1em;
}

.txt-subfoot {
    font-size: 13px;
}

.let-spa-3 {
    letter-spacing: 2px;
}

.bg-custom-dark {
    background-color: #666666;
}

.bg-custom-darker {
    background-color: #292929;
}

.wrap-header-mobile {
    /*background-color: #fff !important;*/
}

.custom-border-left {
    border-left: 1px solid rgb(90, 90, 90);
    height: 70px;
}

.custom-border-left2 {
    border-left: 1px solid rgb(90, 90, 90);
    height: 450px;
    top: -40px;
}

.custom-border-left3 {
    border-left: 1px solid rgb(90, 90, 90);
    height: 200px;
}

.txt-body {
    font-size: 12px;
    line-height: 1.8em;
}

.txt-body2 {
    font-size: 12px;
    line-height: 2.2em;
    text-align: left;
}

.txt-services-title {
    font-family: 'Didot LT Std', sans-serif !important;
    font-size: 18px;
    text-align: left;
}

.txt-services-body {
    font-family: 'Avenir Next LT Pro', sans-serif !important;
    font-size: 12px;
    line-height: 2.2em;
    text-align: left;
}

.txt-what {
    font-size: 20px;
}

.txt-who {
    font-size: 14px;
}

.font-header-menu {
    font-size: 13px;
}

.font-header-submenu {
    font-size: 12px;
    font-family: 'avenir-light', sans-serif !important;

}

.text-dark {
    color: black !important;;
}

.bottom-line-white {
    border-bottom: 1px solid #ffffff;
}

.menu-font-style {
    font-size: 16px !important;
    color: #000 !important;
}

#header-sticky .wrap-menu-desktop {
    top: 0 !important;
}

.wrap-menu-desktop {
    position: inherit;
    height: 100px !important;
}

#header-sticky {
    height: 100px;
}

#header-sticky .fix-menu-desktop {
    height: 100px;
}

.fix-menu-desktop .wrap-menu-desktop {
    height: 100px !important;
}

.main-menu .sub-menu .disabled-link {
    color: #726866 !important;
}

.menu-desktop .main-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.menu-desktop .main-menu .sub-menu li a {
    color: #fff;
}

.menu-desktop .main-menu > li:hover > a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop .sub-menu li:hover {
    background-color: #000;
}

#back-navigation {
    width: 175px;
}

.back-font {
    font-size: 10px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #fff !important;
}

.logo-footer {
    width: 170px;
}

.footer-font-size {
    font-size: 12px;
}

.headoffice-footer {
    padding-top: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #ddd;
}

@media (min-width: 400px) {
    .txt-who {
        font-size: 16px;
    }
}

@media (max-width: 576px) {

    .modal-dialog {
        max-width: 300px;
        margin: 30px auto;
    }

    .txt-proud {
        font-size: 13px;
    }

    .foot-margs {
        margin-top: -15px;
    }


    .logo-mobile {
        height: 70%;
        left: 15px;
    }
}

@media (min-width: 576px) {
    .margin-footer{
        margin-top:-65px;
    }
    .modal-dialog {
        max-width: 265px;
        margin: 30px auto;
    }

    .foot-padds {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .workshop-footer {
        padding-top: 20px;
    }
}

@media (min-width: 768px) {
    .txt-body2{
        font-size: 16px;
    }

    .foot-margs {
        margin-top: -15px;
    }

    .workshop-footer {
        padding-top: 3rem;
        margin-top: 1rem;
    }

    .footer-padding {
        padding-left: 0%;

    }

    .copyright {
        padding-top: 150px !important;
    }

    .headoffice-footer {
        padding-top: 55px;
    }

    .workshop-footer {
        padding-top: 55px;
    }

    .logo-footer {
        width: 300px;
    }

    .footer-font-size {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1024px) {
    #back-navigation {
        width: 350px;
    }
}

@media (min-width: 1400px) {
    .modal-dialog {
        max-width: 420px;
        margin: 100px auto;
    }
}


