.custom-font-avenir-black {
    font-family: 'avenir-black', sans-serif !important;
}

.custom-font-avenir-medium {
    font-family: 'avenir-medium', sans-serif !important;
    line-height: 1.8em;
}

.custom-font-avenir-light {
    font-family: 'avenir-light', sans-serif !important;
}

.font-av-next {
    font-family: 'Avenir Next LT Pro', sans-serif !important;
}

.font-didot {
    font-family: 'Didot LT Std', sans-serif !important;
}

.font-didot-bold {
    font-family: 'Didot Bold', sans-serif !important;
}

.font-didot-thin {
    font-family: 'Didot LT Std', sans-serif !important;
}

@font-face {
    font-family: 'avenir-black';
    src: url('../../fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/avenir/Avenir-Black.woff') format('woff'),
    url('../../fonts/avenir/Avenir-Black.ttf') format('truetype'),
    url('../../fonts/avenir/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-medium';
    src: url('../../fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/avenir/Avenir-Medium.woff') format('woff'),
    url('../../fonts/avenir/Avenir-Medium.ttf') format('truetype'),
    url('../../fonts/avenir/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../../fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/avenir/Avenir-Light.woff') format('woff'),
    url('../../fonts/avenir/Avenir-Light.ttf') format('truetype'),
    url('../../fonts/avenir/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

.custom-font-acaslon-regular {
    font-family: 'acaslon_regular', sans-serif !important;
}

@font-face {
    font-family: 'acaslon_regular';
    src: url('../../fonts/acaslon/acaslonpro-regular.eot');
    src: url('../../fonts/acaslon/acaslonpro-regular.eot?#iefix') format('embedded-opentype'),
        /*url('../../fonts/acaslon/acaslonpro-regular.woff2') format('woff2'),*/ url('../../fonts/acaslon/acaslonpro-regular.woff') format('woff'),
    url('../../fonts/acaslon/acaslonpro-regular.ttf') format('truetype'),
    url('../../fonts/acaslon/acaslonpro-regular.svg#playfair_displayblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../fonts/avenirnext/avenirnextltpro-regular.eot');
    src: url('../../fonts/avenirnext/avenirnextltpro-regular.eot?#iefix') format('embedded-opentype'),
        /*url('../../fonts/avenirnext/AvenirNextLTPro-Regular.woff2') format('woff2'),*/ url('../../fonts/avenirnext/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../../fonts/avenirnext/avenirnextltpro-regular.ttf') format('truetype'),
    url('../../fonts/avenirnext/avenirnextltpro-regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot LT Std';
    src: url('../../fonts/didot/didotltstd-roman.eot');
    src: url('../../fonts/didot/didotltstd-roman.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/didot/didotltstd-roman.woff2') format('woff2'),
    url('../../fonts/didot/didotltstd-roman.woff') format('woff'),
    url('../../fonts/didot/didotltstd-roman.ttf') format('truetype'),
    url('../../fonts/didot/didotltstd-roman.svg#DidotLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot Bold';
    src: url('../../fonts/didot/didot-htf-b06-bold-webfont.eot');
    src: url('../../fonts/didot/didot-htf-b06-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/didot/didot-htf-b06-bold-webfont.woff2') format('woff2'),
    url('../../fonts/didot/didot-htf-b06-bold-webfont.woff') format('woff'),
    url('../../fonts/didot/didot-htf-b06-bold-webfont.ttf') format('truetype'),
    url('../../fonts/didot/didot-htf-b06-bold-webfont.svg#didotbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




